## Forex dataset

In this project we will work with three datasets from forex: \
EURGBP: € vs £ \
EURUSD: € vs \\$ \
GBPUSD: £ vs \\$

### load data

In [9]:
import pandas as pd

EURUSD=pd.read_csv('EURUSD1.csv', header = None, sep="\t")
EURGBP=pd.read_csv('EURGBP1.csv', header = None, sep="\t")
GBPUSD=pd.read_csv('GBPUSD1.csv', header = None, sep="\t")

GBPUSD.head()

let's set the headers of columns

In [36]:
df_names=[EURUSD, EURGBP, GBPUSD]
for df_name in df_names:
    df_name.columns = ['time','open','high','low','close','volume']
    
GBPUSD.head()

change 'time' to datetime format and be sure it's in ascending order

In [39]:
for df in df_names:
    df['time'] = pd.to_datetime(df['time'])
    df = df.sort_values(by=['time'])

GBPUSD.head()

                 time     open     high      low    close  volume
0 2020-07-08 13:24:00  1.25499  1.25499  1.25473  1.25492     203
1 2020-07-08 13:25:00  1.25493  1.25584  1.25493  1.25570     294
2 2020-07-08 13:26:00  1.25570  1.25591  1.25554  1.25557     287
3 2020-07-08 13:27:00  1.25557  1.25562  1.25526  1.25531     222
4 2020-07-08 13:28:00  1.25531  1.25551  1.25529  1.25542     243

### save data

finally save the data in excel for next step

In [53]:
df_sheets = {'EURUSD': EURUSD, 'EURGBP': EURGBP, 'GBPUSD': GBPUSD}
writer = pd.ExcelWriter('Forex.xlsx', engine='xlsxwriter')

for sheet_name in df_sheets.keys():
    df_sheets[sheet_name].to_excel(writer, sheet_name=sheet_name, index=False)

writer.save()