In [1]:
import pandas as pd
df=pd.read_excel('covid/COVID-19.xlsx')

df = df.filter(items=['month', 'geoId','cases','deaths'])
df=df.rename(columns={"geoId":"code"})
df=df.loc[df.month <=8]
df=df.loc[df['code'].isin(['FR','IT','ES'])]
df.head()

       month code  cases  deaths
12498      8   FR   4586      23
12499      8   FR   4771      12
12500      8   FR   3776      17
12501      8   FR   2238      22
12502      8   FR    493      19

In [2]:
d = {'FR': 0, 'IT': 1, 'ES': 2}
df['code'] = df['code'].map(d)
df.head()

       month  code  cases  deaths
12498      8     0   4586      23
12499      8     0   4771      12
12500      8     0   3776      17
12501      8     0   2238      22
12502      8     0    493      19

In [3]:
features = list(df.columns[:3])
features

['month', 'code', 'cases']

In [4]:
from sklearn import tree
y = df['deaths']
X = df[features]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [5]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=3)
clf = clf.fit(X, y)

### Decision tree on iris

In [6]:
from sklearn import datasets
from sklearn.preprocessing import StandardScaler 
from sklearn.cluster import KMeans
# from sklearn.cluster import MiniBatchKMeans
import matplotlib.pyplot as plt
from numpy import random, float
import numpy as np
%matplotlib inline


iris = datasets.load_iris()
features = iris.data
scaler = StandardScaler()
features_std = scaler.fit_transform(features)

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(features_std, iris.target, test_size=.2, random_state=33)

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

# Create decision tree classifier object
decisiontree = DecisionTreeClassifier(random_state=0) # Train model
model = decisiontree.fit(xtrain, ytrain)

In [8]:
y_pred=model.predict(xtest)
from sklearn import metrics
print(metrics.accuracy_score(ytest, y_pred))

0.8666666666666667

#### f1-score, recall, precision

In [9]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import f1_score, precision_score, recall_score
y_train_pred = cross_val_predict(model, xtrain, ytrain, cv=3)
f1_score(ytrain, y_train_pred, average="macro")

0.9399240798811684

In [10]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain, y_train_pred)

array([[42,  0,  0],
       [ 0, 38,  4],
       [ 0,  3, 33]])